@import "src/scss/Normalize";

.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  color: $text-color;
  line-height: 20px;
  max-width: 220px;

  &__button {
    display: flex;
    justify-content: flex-start!important;
  }
}